body {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #f06;
  border-radius: 4px;
  display: block;
  height: 100px;
  width: 100px;
}

.prev {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.next {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}